source "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"
source https://api.nuget.org/v3/index.json

nuget AutoFixture.Xunit2 4.5.0 prerelease restriction: >= net462
nuget AutoFixtureMoq 1.0.0 prerelease restriction: >= net462
nuget Bstm.EqualityTests 1.0.1 prerelease restriction: >= net462
nuget Castle.Windsor 4.1.0 prerelease restriction: >= net462
nuget CompareNETObjects 4.55.0.0 prerelease restriction: >= net462
nuget FluentAssertions 5.4.1 prerelease restriction: >= net462
nuget FsCheck.Xunit 2.11.0 prerelease restriction: >= net462
nuget JetBrains.Annotations 11.1.0 prerelease restriction: >= net462
nuget more.xunit.runner.visualstudio 2.3.1 prerelease restriction: >= net462
nuget NLog 4.5.7 prerelease restriction: >= net462
nuget System.Collections.Concurrent 4.3.0 prerelease restriction: >= net462
nuget System.ComponentModel.Annotations 4.5.0 prerelease restriction: >= net462
nuget System.ComponentModel.Primitives 4.3.0 prerelease restriction: >= net462
nuget System.Reactive.Interfaces 4.0.0 prerelease restriction: >= net462
nuget xunit 2.4.0 prerelease restriction: >= net462
nuget xunit.runner.console 2.4.0 prerelease restriction: >= net462